<!DOCTYPE html>
<html lang="en">
<head>
  <title>영화 리뷰</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <h2>현재온도 : {{temp}}℃</h2>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th style="width:8%;">사진</th>
                <th>영화제목</th>
                <th style="width:8%;">평점</th>
                <th>요약</th>
            </tr>
        </thead>
        {% for movie in movies %}
        <tbody>
            <tr>
                <td><img class="img" src="{{movie.small_cover_image}}" alt="Card image" style="width:100%"></td>
                <td>{{movie.title}}</td>
                <td>{{movie.rating}}</td>
                <td>{{movie.summary}}</td>
            </tr>
        </tbody>
        {% endfor %}        
    </table>
</div>
</body>
</html>